*{margin: 0;}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'parkinsans'
}
header,footer{
    display: flex;
    flex-direction: column;
    background-color:#ffffff;
    align-items: center;
    margin: auto;
}
footer{
    text-align: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 5%;
    background-color: white;
}
main {
    display:flex;
    flex-direction: column;
}
footer p{
    padding-top: 30px;
}
.banniere{
    background-image: url('images/fond2.jpg');
    background-position: bottom center;
    background-size: cover;
}
header .nom{
   font-size: 40px;
   font-weight: 900;
    padding-top:150px;
    color: white;
}
header .text{
font-style: italic ;
align-items: flex-start;
padding-bottom: 10px;
font-size: 20px;
text-align: center;
color: white;
}

.boutons{
    display: flex;              
    flex-direction: row;    
    align-items: center; 
    color:white;
    padding-bottom: 160px; 
}
.boxboutons{
    display: flex;
    flex-direction: column;
    align-items: center; 
   padding:20px;
}
.boxboutons span{
    color:white;
    text-align: center;
}
.boxboutons img{
    display: flex;
    align-items: center;
    padding:20px;
}
nav{ 
    display: flex;
    flex-direction: row;
    background-color:white;
}
ul {
    font-family: 'Rubik';
    font-size: 25px;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 20px;
    list-style: none;
}

.nav-item{
    display:list-item;
    padding:20px;
}
a{
    text-decoration: none;
    color: black;
}
.nav-item:hover{
    padding-right: 5px;
    padding-bottom: 2px;
    border-bottom: solid 2px;
    border-right: solid 2px ;
}
a img{
    width:50px;
}
.titre-text{
    flex-direction:column;
}
img{
    display: flex;
    width: 350px;
    height: auto;
    padding: 50px;
    padding-right: 130px;
    margin: auto;
    justify-content: flex-start;
}

section{
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 60px;
    margin: auto;
}

em{ 
    font-style: bold;
    color:rgb(134, 119, 187);
}
main h1{
    margin-bottom: 50px;
    font-size: 50px;
    font-family: 'parkinsans';
    color:rgb(95, 92, 107);
}
.skills{
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 120px;
    margin: auto;
}
.listSkills{
    flex-direction: column;
    align-self: flex-start;
}
